/**
 * index.css
 */
body{position: relative;}
body,p{line-height: 0.5rem;}

header{height: 0.8rem;line-height: 0.8rem;width: 100%;background: #fff;position: fixed;top: 0;left: 0;z-index: 999;border-bottom: 0.02rem solid rgba(0,0,0,.15)}
header .icon-goback{width: 0.24rem;margin-left: 0.26rem;}
header h4{display: inline-block;width: calc(100% - 0.8rem);font-size:0.36rem;font-family:PingFangSC-Semibold;color:rgba(51,51,51,1);text-align: center;float: right;padding-right: 0.8rem;}
article{margin-top: 0.8rem;overflow-y: auto;}

.question-list{background: #fff;margin-top: 0.4rem;width: 100%;}
.question-list li{width: 100%;padding-left:0.4rem;height: 1.2rem;line-height: 1.2rem;box-sizing: border-box;font-size:0.28rem;color:rgba(51,51,51,1);}
.question-list li>a{display: inline-block;width: 100%;height: 1.2rem;color:rgba(51,51,51,1);border-bottom: 0.02rem solid #EEEEEE;}
.question-list li:last-child>a{border-bottom: none;}
.question-list li>a:hover{color:#F6F6F6;}
.question-title{width: 86%;display: inline-block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.icon-next{width: 0.12rem;float: right;margin:0.52rem 0.4rem;}
footer{width: 100%;height: 1rem;line-height: 1rem;text-align: center;border-top: 0.02rem solid rgba(0,0,0,.08);background: #fff;}
.talkBottom{position: fixed;bottom: 0;left: 0;}
footer .talk{height: 1rem;line-height: 1rem;letter-spacing: 0.03rem;}
footer .talk>a{color:#000;}
.icon-talk{margin-right: 0.3rem;}

/*.button-title:hover{color: rgb(241,171,3);}*/
.answer-footer{height: 2.52rem;width: 100%;text-align: left;font-size: 0;}
.answer-footer>div{font-size: 0;}
.button-group{display: inline-block;width: 50%;text-align: center;padding: 0.4rem 0;color:#999999;}
.button-group:hover{color: rgb(241,171,3);}
.button{width: 1.04rem;}
.button-title{margin-top: 0.2rem;font-size: 0.24rem;color: inherit;}

body {
    background-color: #fff;
    font-family: "Lucida Grande","Helvetica Neue",Helvetica,Arial,"Pingfang SC","Hiragino Sans GB","Source Han Sans CN","Microsoft YaHei",sans-serif;
}
.main-page {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}
.main-content {
    position: relative;
    width: 100%;
    max-width: 15rem;
    margin: auto;
    padding: 0;
    overflow-x: hidden;
    text-align: left;
}
.delimiter-row {
    padding: 0 0.4rem;
}
.article-header {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.article-header .article-cover {
    position: relative;
    min-height: 4.5rem;
}
.article-header .cover-placeholder {
    width: 100%;
    min-height: 4.5rem;
}
.article-header .cover-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}
.article-header .article-cover .cover-image {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.article-header .article-cover .cover-image img {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.article-header .article-cover .article-property {
    position: absolute;
    width: 100%;
    height: 100%;
}
.article-header .article-cover .article-statusbar {
    width: 100%;
    height: 0.4rem;
}
.article-header .article-cover .article-toolbar {
    width: 100%;
    height: 0.88rem;
}
.article-header .article-cover .article-title {
    position: absolute;
    bottom: 1.1400000000000001rem;
    width: 100%;
    padding: 0.44rem 0.4rem 0.4rem 0.4rem;
}
.article-header .article-cover .article-title h1 {
    font-size: 0.52rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #fff;
    max-height: 1.24rem;
    line-height: 120%;
    overflow: hidden;
}
.article-header .article-cover .article-author {
    position: absolute;
    bottom: 0.4rem;
    width: 100%;
    padding: 0 0.4rem;
    height: 0.74rem;
    overflow: hidden;
}
.article-header .article-cover .article-author .author-portrait-img {
    width: 0.7000000000000001rem;
    height: 0.7000000000000001rem;
    border-radius: 0.35000000000000003rem;
}
.article-header .article-cover .article-author div {
    margin-right: 0.1rem;
}
.article-header .article-cover .article-author p {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.article-header .article-cover .article-author .author-name {
    font-size: 0.28rem;
    font-weight: bold;
    color: #fff;
}
.article-header .article-cover .article-author .author-intro {
    font-size: 0.24rem;
    color: #fff;
    opacity: 0.8;
}
.article-tags {
    padding: 0.5rem 0.4rem;
    color: #4d4d4d;
}
.tag-item {
    display: inline-block;
    cursor: pointer;
    font-size: 0.24rem;
    padding: 0 0.12rem;
    margin: 0 0.14rem 0 0;
    height: 0.44rem;
    line-height: 0.4rem;
    border-radius: 0.1rem;
    border: 0.02rem solid #4d4d4d;
}

.article-content {
    position: relative;
    width: 100%;
    padding: 0.4rem;
}
.article-content p {
    text-align: justify;
    margin: 0;
    padding: 0.4rem 0;
    font-size: 0.32rem;
    color: #4d4d4d;
    line-height: 1.8;
    letter-spacing: 0.02rem;
    word-wrap: break-word;
    word-break: break-all;
}
.article-content h2 {
    margin: 0;
    padding: 0.4rem 0;
    font-size: 0.36rem;
    font-weight: bold;
    color: #333333;
    line-height: 1.5;
}
.article-content .article-quote {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0.4rem 0;
}
.article-content blockquote {
    padding: 0 0.2rem;
    margin: 0;
    font-size: 0.32rem;
    border-left: 0.1rem solid #eee;
    background-color: #f8f8f8;
}
.article-content span.quote-note {
    font-size: 0.22rem;
    color: #bbbbbb;
}
.article-content .article-image {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0.4rem 0;
    text-align: center;
}
.article-content .article-image img {
    margin: 0 auto;
    max-width: 100%;
}
.article-content .explorer-image-note {
    text-align: center;
    font-size: 0.24rem;
    color: #b3b3b3;
    padding: 0 0 0.4rem 0;
}
.article-content .explorer-split-line {
    width: 100%;
    height: 0.16rem;
    background: #fff url(../img/split.png) repeat-x;
    background-size: auto 100%;
    margin: 0.4rem 0;
}
.article-content .article-html {
    padding: 0.4rem 0;
}
.article-content .delimiter-row {
    padding: 0 0.4rem;
}

.article-footer {
    position: relative;
    width: 100%;
    padding: 0.8rem 0.4rem;
}
.article-footer .share-text {
    font-size: 0.26rem;
    height: 0.6rem;
    line-height: 0.6rem;
    color: #4d4d4d;
}
.article-footer .share-icon {
    width: 0.6rem;
    height: 0.6rem;
    margin: 0 0.26rem;
}
.article-footer .share-icon img {
    cursor: pointer;
}

.delimiter-row {
    position: relative;
    text-align: center;
    padding: 0 0.4rem;
}
.end-row .end-text {
    margin: 0 auto;
    height: 0.2rem;
    line-height: 0.4rem;
    color: #E6E6E6;
}
.end-row .end-text span {
    font-size: 0.2rem;
    font-style: italic;
    background-color: #fff;
}
.delimiter-row .delimiter-line {
    width: 100%;
    height: 0.02rem;
    background-color: #E6E6E6;
}
.delimiter-row .endline-img {
    width: 100%;
}
.app-download {
    width: 100%;
    padding: 0 0.4rem 0.4rem 0.4rem;
    text-align: center;
}
.app-download a.btn {
    color: #fff;
    font-size: 0.32rem;
    font-weight: bold;
}
.app-download img {
    width: 0.9rem;
    height: 0.9rem;
}
.app-download p {
    width: 0.9rem;
    margin: 0 auto;
    padding: 0;
    line-height: 0.34rem;
    color: #4d4d4d;
    font-size: 0.24rem;
    font-weight: bold;
}
.btn-app-download {
    margin: 0 auto;
    width: 100%;
    line-height: 0.6rem;
    border-radius: 0.1rem;
    background-color: #05D38E;
}
